@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";

// BASE STYLES //
input[type="submit"] {
	.btn;
	.btn-primary;
}
a:hover i {
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	text-align: center;
}
hr {
	
}
.alignleft { float: left; text-align: left; }
.alignright { float: right; text-align: right; }
.aligncenter { margin: 0 auto; text-align: center; }
.alignnone { float: none; }
.hide {
	border: none; 
	height: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
	width: 0;	
}

// ROTATOR //
.carousel {
	margin-bottom: @line-height-base;
}
.carousel .item {
	.transition(opacity 1s ease);
}
.carousel .active.left {
	left:0;
	opacity:0;
	z-index:2;
}
.carousel .next {
	left:0;
	opacity:1;
	z-index:1;
}

.carousel .item img {
	.transition(-webkit-filter 1s ease);
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
.carousel .item.active img {
	 -webkit-filter: grayscale(0);
	 filter:  grayscale(0);
}

.carousel img {
	width: 100%;
}
.carousel-control {
	background: none !important;
	.opacity(0);
	top: 50%;
}
.carousel:hover .carousel-control {
	.opacity(100);
}

// SITE LAYOUT //

// Body
/////////////////
html, body { }
body {
	.rtl {}
	.home {} /* home page */
	.blog {} 
	.archive {} /* archive page */
	.date {} /* date archive page */
		.date-paged-1 {} /* replace the number to the corresponding page number */
	.search {} /* search page */
		.search-results {} /* search result page */
		.search-no-results {} /* no results search page */
		.search-paged-1 {} /* individual paged search (i.e. body.search-paged-3) */
	.error404 {} /* 404 page */
	.single {} /* single post page */
		.postid-1 {} /* individual post page by id (i.e. body.postid-73) */
		.single-paged-1 {} /* individual paged single (i.e. body.single-paged-3) */
	.attachment {} /* attatchment page */
		.attachmentid-1 {} /* individual attatchment page (i.e. body.attachmentid-763) */
		.attachment-mime-type {} /* style mime type pages */
	.author {} /* author page */
		.author-nicename {} /* user nicename (i.e. body.author-samueladams) */
		.author-paged-1 {} /* paged author archives (i.e. body.author-paged-4) for page 4 */
	.category {} /* category page */
		.category-1 {} /* individual category page (i.e. body.category-6) */
		.category-paged-1 {} /* replace the number to the corresponding page number */
	.tag {} /* tag page */
		.tag-slug {} /* individual tag page (i.e. body.tag-news) */
		.tag-paged-1 {} /* replace the number to the corresponding page number */
	.page-template {} /* custom page template page */
		.page-template-page-php {} /* individual page template (i.e. body.page-template-contact-php */
		.page-paged-1 {} /* replace the number to the corresponding page number */
		.page-parent {}
		.page-child {}
		.parent-pageid-1 {} /* replace the number to the corresponding page number */
	.logged-in {} /* if user is logged in */
	.paged {} /* paged items like search results or archives */
		.paged-1 {} /* individual paged (i.e. body.paged-3) */
}

#wrap { }

// Menu
///////
.navbar, .navbar-inner, .navbar-inner .container, .navbar a, .navbar .active a {
	background: transparent !important;
}

// Header
/////////
#header {
	margin-bottom: -100px;
	overflow: hidden;
	padding-bottom: 100px;
	width: 100%;
	a, a:visited, a:hover { }
	figure {
		margin: 0 auto;
		max-width: 100%;
		height: auto;
		padding: 0 10px;
		text-align: center;
		a {
			border: 0;
			outline: 0;
			text-decoration: none;
		}
		img {
			
		}
	}
	hgroup { }
	h1 { }
	h2 { }
	figure.logo + h1, figure.logo ~ h2 {
		.hide;
		text-indent: -99999px;
	}
}

// Main
//////////
#main {}
#content {
	//.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	margin-bottom: 20px;
	padding: 20px 40px;
}

// Articles & Excerpts & Pages
//////////////////////
.hentry {
	.entry-thumbnail {}
	.content {}
	.gallery-image {}
	footer {
		ul { }
		li {}
		.meta_time { }
		.meta_categories { 
			a {}
		}
		.meta_tags {
			a {	}
		}
		.meta_count { 
			a {}
		}
		.meta_comments { 
			a {}
		}
	}
	.meta_edit { 
		visibility: hidden;
	}
	&:hover {
		.meta_edit {
			visibility: visible;
		}
	}
}

// Excerpts
///////////
.hentry.excerpt {
	.entry-title {  }
	.entry-summary {  }	
	.entry-title { }
	.entry-thumbnail { }
	footer {
		ul { }
		li { }
		.meta_time { }
		.meta_categories { 
			a {}
		}
		.meta_tags { 
			a {}
		}
		.meta_count { 
			a {}
		}
		.meta_comments { 
			a {}
		}
	}
	.meta_edit { 
		a {}
	}
	&:hover {
		.meta_edit a {}
	}
}

// Post Formats
.hentry.excerpt { 
	&.format-aside { }
	&.format-gallery { }
	&.format-image { }
	&.format-link { }
	&.format-page { }
	&.format-quote { }
	&.format-slideshow { }
	&.format-video { }
}

// Specific Article Types
.hentry.excerpt {
	&.post { }
	&.page { }
	&.attachment { }
	&.sticky { }
}

// Articles
///////////
.hentry.single {
	.entry-title { }
	.entry-thumbnail { }
	.entry-content { }
	footer {
		ul { }
		li { }
		.meta_time { }
		.meta_categories { 
			a {}
		}
		.meta_tags { 
			a {}
		}
		.meta_count { 
			a {}
		}
		.meta_comments { 
			a {}
		}
	}
	.meta_edit { 
		a {}
	}
	&:hover {
		.meta_edit a {}
	}
}

// Post Formats
.hentry.single {
	&.format-aside { }
	&.format-gallery { }
	&.format-image { }
	&.format-link { }
	&.format-page { }
	&.format-quote { }
	&.format-slideshow { }
	&.format-video { }
}

// Specific Article Types
.hentry.single {
	&.full { }
	&.post { }
	&.page { }
	&.attachment { }
	&.sticky { }
}

// Pages
////////
.hentry.page { }

// Pagination
/////////////
#pagination {
	margin-bottom: @line-height-base;
	.previous a, .next a { }
	.previous { }
	.next { }
}
// Respond
//////////
#respond {
	h3#reply-title {
		.alert;
		.alert-info;
		font-size: @font-size-base;
		font-family: @font-family-base;
		margin: 0;
		text-align: left;
	}
	.logged-in-as {
		display: block;
		margin: 0;
	}
	a.logout {}	
}

// Reply Form
ol #respond { }
a#cancel-comment-reply-link { }
ol.children #respond { }

// Comments
///////////
#comments {
	h3 { }
}
ol.commentlist {}
li.comment {
	clear: both;
	.avatar {
		.img-thumbnail;
		.img-circle;
	}
	.comment-author {
		margin-top: 1em;
		cite {
			font-size: 1.5em;
			font-weight: bold;
			a {}
		}
		time a {}
	}
	section.media-body {
		min-height: 64px + 10px;
		.alert {
			margin-bottom: 0;
		}
	}
	footer {
		time {  }
	}
	a.comment-edit-link, a.comment-reply-link {
		.transition(opacity .25s linear);
		.opacity(0);
	}
	a.comment-reply-link {
		margin: 4px auto;
	}
	a.comment-edit-link {
		float: right;
	}
}
// Show Reply/Edit Options on hover
li.comment:hover {
	&> .media-object > a.comment-reply-link, &> section.media-body > a.comment-edit-link {
		.opacity(100);
	}
}

// Comment Striping
.commentlist > li.comment {
	 &.alt {}
	 &.odd {}
	 &.even {}
	 &.thread-alt {}
	 &.thread-even {}
	 ul.children .alt {}
	 ul.children .odd {}
	 ul.children .even {}
}

// Comment Threading
#comments {
	li.comment.parent {}
	ol.children {
		margin-left: 64px + 10px;
		li.comment.depth-1 {}
		li.comment.depth-2 {}
		li.comment.depth-3 {}
		li.comment.depth-4 {}
		li.comment.depth-5 {}
	}
}
// Specific Comment Types
details ol.commentlist li.comment.byuser {/* User Comment */}
details ol.commentlist li.comment.bypostauthor {/* Author Comment */}
details ol.commentlist li.comment.comment-author-admin {/* Admin Comment */}

// Comment Content Styles
li.comment article {
	a {}
	a:hover {}
	acronym {}
	blockquote {}
	b {}
	cite {}
	code {}
	del {}
	em {}
	i {}
	q {}
	strike {}
	strong {}
}

// Sidebars
///////////
.sidebar { }
#sidebar-default { }
#sidebar-home { }
#sidebar-single { }

// Widgets
.widget {}

// Footer
/////////
#footer {
	p, ul, li {
	}
	a {
		&:hover {
		}
	}
	h1,h2,h3,h4,h5,h6 {
		text-shadow: 1px 2px 0 rgba(0,0,0, .2);
	}
	.copyright {}
	.social {}
}

@media only screen and (max-width: 768px) {
	#footer { 
		.copyright {}
		.social {}
	}
}

// Misc.
////////
