$include-html-classes: false;
$include-print-styles: false;

@import
	"variables",
	"foundation/foundation-global",
	"foundation/components/type",
	"foundation/components/buttons",
	"foundation/components/forms";

/** Login CSS **/
body.login {
	background: $body-bg;
	#login {
		h1 a {
			background-image: url(../img/logo.png);
			background-position: top;
			background-repeat: no-repeat;
			background-size: auto 100%;
		}
		#loginform {
			p {
				label {}
			}
			input {}
			input#user_login {}
			input#user_pass {}
			p.forgetmenot {
				input#rememberme {}
			}
			p.submit {
				input#wp-submit {}
			}
		}
		#nav {
			a {}
		}
		#backtoblog {
			a {}
		}
		#login_error {
			display: none;
		}
	}
}

/** Adminbar CSS **/
#wp-admin-bar-wp-logo {
	//display: none;
	//visibility: hidden;
	span {
		background: url(../img/favicon.png) !important;
		background-position: top !important;
		background-size: 100% auto !important;
	}
	.ab-sub-wrapper {
		//display: none;
		//visibility: hidden;
	}
}
#wp-admin-bar-themes {
	display: none;
	visibility: hidden;
}
// Offset for wp-admin-bar
#header {
	margin-bottom: -28px;
}
#primary_navigation {
	margin-bottom: 28px;
	top: 28px !important; }

/** Admin CSS **/
#wp-version-message, #wp-version-message + br.clear { display: none; }

// Hide first admin user
body.users-php tr#user-1 { display: none; }