@import "variables";

$include-html-classes: false;
$include-print-styles: false;

$include-button-styles: true;
$include-form-styles: true;

@import "../vendor/foundation/scss/foundation";

$include-parent-classes: true !default;

@if $include-parent-classes != false {
	body {
		background: $body-bg;
		color: $body-font-color;
		padding: 10px;
	}
}