@import "variables";

$include-html-classes: false;
$include-print-styles: false;

$include-html-grid-classes: $include-html-classes;
$include-html-visibility-classes: $include-html-classes;
$include-html-button-classes: $include-html-classes;
$include-html-form-classes: $include-html-classes;
$include-html-media-classes: $include-html-classes;
$include-html-section-classes: $include-html-classes;
$include-html-reveal-classes: $include-html-classes;
$include-html-alert-classes: $include-html-classes;
$include-html-nav-classes: $include-html-classes;
$include-html-label-classes: $include-html-classes;
$include-html-panel-classes: $include-html-classes;
$include-html-pricing-classes: $include-html-classes;
$include-html-progress-classes: $include-html-classes;
$include-html-magellan-classes: $include-html-classes;

@import "../vendor/foundation/scss/foundation";

$include-parent-classes: true !default;

@if $include-parent-classes != false {
	body {
		background: $body-bg;
		color: $body-font-color;
		padding: 10px;
	}
}