/* line 160, ../scss/foundation/_foundation-global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 165, ../scss/foundation/_foundation-global.scss */
html,
body {
  font-size: 16px; }

/* line 168, ../scss/foundation/_foundation-global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* line 182, ../scss/foundation/_foundation-global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto; }

/* line 185, ../scss/foundation/_foundation-global.scss */
object,
embed {
  height: 100%; }

/* line 186, ../scss/foundation/_foundation-global.scss */
img {
  -ms-interpolation-mode: bicubic; }

/* line 192, ../scss/foundation/_foundation-global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

/* line 197, ../scss/foundation/_foundation-global.scss */
.left {
  float: left; }

/* line 198, ../scss/foundation/_foundation-global.scss */
.right {
  float: right; }

/* line 199, ../scss/foundation/_foundation-global.scss */
.text-left {
  text-align: left; }

/* line 200, ../scss/foundation/_foundation-global.scss */
.text-right {
  text-align: right; }

/* line 201, ../scss/foundation/_foundation-global.scss */
.text-center {
  text-align: center; }

/* line 202, ../scss/foundation/_foundation-global.scss */
.text-justify {
  text-align: justify; }

/* line 203, ../scss/foundation/_foundation-global.scss */
.hide {
  display: none; }

/* line 206, ../scss/foundation/_foundation-global.scss */
img {
  display: block; }

/* line 213, ../scss/foundation/_foundation-global.scss */
textarea {
  height: auto;
  min-height: 50px; }

/* line 216, ../scss/foundation/_foundation-global.scss */
select {
  width: 100%; }

/** Login CSS **/
/* line 9, ../scss/admin.scss */
body.login #login h1 a {
  background-image: url(../img/logo.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 100%; }
/* line 35, ../scss/admin.scss */
body.login #login #login_error {
  display: none; }

/** Adminbar CSS **/
/* line 45, ../scss/admin.scss */
#wp-admin-bar-wp-logo span {
  background: url(../img/favicon.png) !important;
  background-position: top !important;
  background-size: 100% auto !important; }

/* line 55, ../scss/admin.scss */
#wp-admin-bar-themes {
  display: none;
  visibility: hidden; }

/* line 60, ../scss/admin.scss */
#header {
  margin-bottom: -28px; }

/* line 63, ../scss/admin.scss */
#primary_navigation {
  margin-bottom: 28px;
  top: 28px !important; }

/** Admin CSS **/
/* line 68, ../scss/admin.scss */
#wp-version-message, #wp-version-message + br.clear {
  display: none; }

/* line 71, ../scss/admin.scss */
body.users-php tr#user-1 {
  display: none; }
