/** Login/Register CSS **/
/* line 13, ../scss/admin.scss */
body.login {
  background: white;
}
/* line 21, ../scss/admin.scss */
body.login #login h1 a {
  background-image: url(../img/logo.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
/* line 38, ../scss/admin.scss */
body.login #login #loginform p.submit input#wp-submit, body.login #login #registerform p.submit input#wp-submit {
  /*@include button($bg: $success-color);
  @include inset-shadow();
  @include single-transition(background-color);*/
  background-image: none;
}
/* line 46, ../scss/admin.scss */
body.login #login #nav, body.login #login #backtoblog {
  color: white;
  margin: 0;
  text-align: center;
}
/* line 50, ../scss/admin.scss */
body.login #login #nav a, body.login #login #backtoblog a {
  /*@include button($bg:$secondary-color, $radius:$button-radius, $full-width: true);
  @include inset-shadow();
  @include single-transition(background-color);*/
  margin: 0;
}
/* line 58, ../scss/admin.scss */
body.login #login #login_error {
  display: none;
}

/** Adminbar CSS **/
/* line 68, ../scss/admin.scss */
#wp-admin-bar-wp-logo span {
  background: url(../img/favicon.png) !important;
  background-position: top !important;
  background-size: 100% auto !important;
}

/* line 78, ../scss/admin.scss */
#wp-admin-bar-themes {
  display: none;
  visibility: hidden;
}

/* line 83, ../scss/admin.scss */
#header {
  margin-bottom: -28px;
}

/* line 86, ../scss/admin.scss */
#primary_navigation {
  margin-bottom: 28px;
  top: 28px !important;
}

/** Admin CSS **/
/* line 91, ../scss/admin.scss */
#wp-version-message, #wp-version-message + br.clear {
  display: none;
}

/* line 94, ../scss/admin.scss */
body.users-php tr#user-1 {
  display: none;
}
